/* Applies the standard formatting to all components*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Gives the body component a white background color*/
body {
    background-color: #d9dcd6;
}

/*Displays elements as block*/
heading, mainImage, sEngine, repManagement, marketing, leadGen, brand, cost, bottom {
    display: block;
}
/* Sets the headers text formatting and styling*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Formats headers "Horiseon" text*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the "seo" text*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Formats header navigation bar*/
.header headlist {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*organizes the list style for navigation bar*/
.header headlist ul {
    list-style-type: none;
}

/*aligns the navigation bar list elements*/
.header headlist ul li {
    display: inline-block;
    margin-left: 25px;
}

/*changes the design of the elements with a link or a mavigation feature*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Changes paragraph font size*/
p {
    font-size: 16px;
}

/*Main image formating*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*formats left-aligned images*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Formats right-aligned images*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Formats the contents underneath the image to align to the left and vertically*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Contents formatting*/
.search-engine-optimization, .social-media-marketing, .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*contents image formatting*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*contents text formatting*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Formats sidebar alignment*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sidebar formatting*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*sidebar text formatting*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*sidebar image formatting*/
.benefit-lead img, .benefit-cost img, .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/*footer styling and alignment*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*footer font styling*/
.footer h2 {
    font-size: 20px;
}
